@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Unbounded:wght@200;400;500;700;800;900&display=swap');


body {
    background-color: #00798C;
}

.main {
    margin: 0 13%;
}

.header {
    border-bottom: 3px groove coral;
    text-align: center;
}
h1 {
    text-shadow: 4px 3px 1px coral;
    font-family: 'Rampart One', cursive;
    font-size: 5.8rem;
    font-weight: 500;
}

.header h2 {
    font-size: 2.1rem;
    font-weight: 700;
    font-family: "unbounded";
}

.box-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0; 
    border-bottom: 3px solid coral;
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black ;
    border-radius: 8px;
    box-shadow: 5px 8px 1px rgb(252, 125, 79);
    padding: .5% 1%;
    min-width: 175px;
    margin: 2% 1%;
}

.box-1 {
    transform: rotate(-3deg);
    flex: 2;
}

.box-2 {
    flex: 2;
    transform: rotate(1deg);
}

h3 {
    padding: 0 3%;
    border-bottom: 2px solid coral ;
    font-size: 30px;
}


@media screen and (max-width: 1145px) {
    .main {
        margin: 0 9%;
    }
    .box-2 {
        margin: 2% 6%;
    }
  }
  
  @media screen and (max-width: 904px) {
    h1 {
        font-size: 4.5rem;
    }

    .header h2 {
        font-size: 1.7rem;
    }
    .box-row {
        flex-direction: column;
    }
    .box-2 {
        margin: 2% 10%;
    }
    .main {
        margin: 0 3%;
    }
  }