

body {
    background-color: rgb(5, 130, 139);
}

.main {
    background-color: rgba(243, 238, 232, 0.797);
    margin: 0.5% 15%;
    padding: 1% 2%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 76, 82);
    color: white;
    
}
h1 {
    
}